body * {
    border-radius: 0px !important;
}

body {
    background-color: #d1d1d1;
}

.container {
    margin-top: 15px;
    margin-bottom: 15px;
}

.tab-pane.active {
    background-color: #ffffff;
    padding: 15px;
}

.active {
    color: #464a4c !important;
}

.nav-item {
    cursor: default;
}

.display-none-elem {
    display: none;
}

.btn-margin {
    margin-left: 15px;
}